*{
    padding: 0 ;
    margin: 0 ;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;

}

body{

    background-color: black;
}



header {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #afafaf93;
    box-shadow: 10px 10px 30px rgb(9, 194, 144);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: auto;
    height: 80px;
}

header nav .logo{
    color: #fff;
    font-size: 30px;
    font-weight: bolder;
}

header nav .logo span{
    color: #08d665;

}




header nav .links li:hover::after,
header nav .links li.active::after{

    width: 100%;
}

header nav .links li a{
    color: #c8c6c6;
    font-size: 17px;

}


.social-links{
    margin: 40px 0 0 0 ;
}

.hero-sec .contanier .social-links a i{
    color: #08d665;
    font-size: 24px;
    margin-left: 15px;
}
header nav .social-links a i:hover{
    color: #fff;
}

.hero-sec{
   
    height: 100vh;
    background: url(../prsonal/img/jpd.jpg);
    background-size: cover;
    background-position: top;
    overflow: hidden;
}

.hero-sec .contanier{
    
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100%;
}

.hero-sec .contanier .div-text{
        margin: 0 0 0 15%;
    text-align: center;

}

.hero-sec .contanier .div-text h1{
    counter-reset: #fff;
    color: #c8c6c6;
    font-size: 30px;
    margin-bottom: 10px;
}

.hero-sec .contanier .div-text span{
    font-size: 20px;
    color: #08d665;
}

.hero-sec .contanier .div-text p{
    color: #c8c6c6;
    font-size: 18px;
    margin: 10px 0 20px;
    line-height: 1.7;
    white-space:unset;

}

.hero-sec .contanier .div-text .btn{
    color: #fff;
    border: 1px solid #08d665;
    background-color: #08d665;
    padding: 14px 40px;
    border-radius: 20px;
    border: 5px;
    transition: 0.3s;
    box-shadow: 10px 10px 30px rgb(9, 194, 144);
	
	
	
	
}

.hero-sec .contanier .div-text .btn:hover{
    background: transparent;
}

.hero-sec img{
    width: 45%;
    position: absolute;
    bottom: -20px;
    right: 0;
}

@media(max-width :980px){
}
